.container {
    margin: 20px; /* Adjust the margin as needed */
}

.section {
    margin-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ant-upload-list-item-name { color: #7ED321}

