.blogDetail {
  font-family: Inter;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogImage {
  width: 100%;
  margin: 2% 10%;
  max-width: 900px;
}

.blogText {
  width: 100%;
  width: 100%;
  max-width: 800px;
}

.blogText h4 {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: white;
}

.blogText p {
  font-size: 1.1em;
  line-height: 1.6;
}

.created {
  font-size: 1.5em;
}

.button {
  background-color: orange;
  font-size: 18px;
  color: black;
  padding: 3px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* This will center the content vertically */
  min-height: 70vh;
}
