.ligawrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
@media (max-width: 768px) {
  .ligawrapper {
    justify-content: center;
  }
}
