.hometeamChild {
  width: 40px;
  position: relative;
  height: 29px;
  object-fit: cover;
}
.joined {
  position: relative;
  font-weight: 600;
}
.awayteam,
.content,
.hometeam,
.matchcell {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.awayteam,
.content,
.matchcell {
  align-items: flex-start;
}
.content,
.matchcell {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.content {
  gap: 19px;
}
.matchcell {
  background-color: #191e24;
  max-width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 17px;
  color: #fff;
  font-family: "Lexend Deca";
}
