.newswrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content within the container */
  justify-content: flex-start;
  gap: 21px;
  max-width: 1200px;
  margin: 0 auto; /* Center the container within the page */
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Lexend Deca";
}

.newsitems {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Default for desktop */
  width: 100%; /* Ensure it spans the entire width of the parent */
  justify-content: center; /* Center the grid items */
}

/* Tablet View */
@media (max-width: 1024px) {
  .newsitems {
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* 3 columns for tablets */
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .newsitems {
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* 2 columns for mobile */
  }
}

.newsNeuheitenParent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 26px;
}

.allePosts,
.newsNeuheiten {
  font-weight: 600;
}

.allePosts {
  font-size: 25px;
  display: none;
}
