.image1Icon {
  position: relative;
  object-fit: cover;
  min-height: 180px;
  max-width: 100%;
  width: 100%;
}
.content {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
}
.title {
  font-weight: bolder;
  min-height: 30px;
  color: orange;
}
.div,
.container {
  align-self: stretch;
  position: relative;
  margin: 0;
  font-size: 16px; /* Updated font size */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  margin-top: 15px;
  color: #b7b7b7;
}
.bundWrapper {
  align-self: stretch;
  height: 100%;
  justify-content: space-between;
  gap: 5.9px;
  min-width: 234px;
}
.newsItem,
.bundWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info {
  background-color: #191e25;
  justify-content: center;
  padding: 8.7px 8.2px;
  box-sizing: border-box;
  height: 100%;
}
.newsItem {
  overflow: hidden;
  justify-content: space-between;
  text-align: left;
  font-size: 7.3px;
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 14px;
  font-weight: 200;
  width: 250px;
  text-decoration: none;
}
