.div {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreitem, .scoreitem1, .scoreitem2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreitems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px; /* Adjust width as needed */
  height: 47px;
  font-size: 27px;
  color: #fff;
  font-family: "Lexend Deca";
}

.scoreitem {
  flex: 1;
}

.scoreitem1 {
  flex: 0; /* Keep the colon centered between the two scores */
}

.scoreitem2 {
  flex: 1;
}
