.key,
.value {
  position: relative;
}

.key {
  font-weight: 600;
  color: white;
}

.value {
  align-self: stretch;
  font-size: 18px;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 33px;
  white-space: pre-line; /* Allows text to wrap and preserve whitespace */
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word; /* Ensures the text doesn't overflow */
}

.statitem {
  background-color: #191e25;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  min-width: 390px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: "Lexend Deca";
}

.statitem ul {
  list-style-type: decimal; /* Ensures numbering */
  margin-left: 20px; /* Indentation for list */
}

.statitem li {
  margin-bottom: 10px; /* Space between list items */
}
